{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
{% from "base/_formhelpers.html" import render_password_field %}

{% block body %}

<div class="container">

  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header text-center"><b>Login</b></div>
      <div class="card-body">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
            {{ messages[0] }}</a>
            </div>
        {% endif %}
        {% endwith %}
      <form method="POST" action="/auth/login" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>{{ render_field(form.email) }}</p>
        <p>{{ render_password_field(form.password) }}</p>
      </div><!-- card body -->
      <div class="card-footer clearfix">
        <span class="input-group-btn">
	<input id="submit_button" type="submit" class="btn btn-success" value="Log in">
      </div><!-- card footer -->
    </form>
    </div>
    <br><p>No account yet? <a href={{url_for('auth.signup')}}>Sign up</a></p>
 </div>
 </div>
 </div>


{% endblock %}

