{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
{% block title %}Reset Password{% endblock %}
{% block body %}

<div class="auth-container">
  <article>
    <header class="text-center">
      <h2>{{gettext('Forgotten your password? No problem!')}}</h2>
    </header>
    <form method="POST" action="/auth/password-forgotten" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <p>{{ render_field(form.email) }}</p>
      <button type="submit">{{gettext('Send link')}}</button>
    </form>
  </article>
</div>

{% endblock %}
