{% extends "base/base.html" %}

{% block body %}
<div class="container">
  <div class="row p-3">
    <div class="card-group">
  
    <div class="card">
	    <div class="card-header text-center"><b>{{username}}, reset your password</b></div>
      <div class="card-body">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
            {{ messages[0] }}  Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
      <form method="POST" action="/auth/password-change" enctype="multipart/form-data">
            <div class="input-group p-2">
              <span class="input-group-text">New password</span>
              <input class="form-control input-s" type="password" name="password" placeholder="Choose a new password">
            </div>
      </div>
      <div class="card-footer clearfix">
        <span class="input-group-btn">
        <input id="submit_button" type="submit" class="btn btn-success" value="Reset password">
      </div>
      </form>
    </div>

  </div>
  </div>
</div>
{% endblock %}

