{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}

{% block body %}

<div class="container">

  <div class="row">
  <div class="col-sm-6">
    <div class="card">
	    <div class="card-header text-center"><b>{{gettext('Enter a new password')}}</b></div>
      <div class="card-body">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
            {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
      <form method="POST" action="/auth/password-change" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>{{ render_field(form.password) }}</p>
        <p>{{ render_field(form.confirm) }}</p>
      </div><!-- card body -->
      <div class="card-footer clearfix">
        <span class="input-group-btn">
		<input id="submit_button" type="submit" class="btn btn-success" value="{{gettext('Change password')}}">
      </div><!-- card footer -->
    </form>
    </div>
    <br><p>{{gettext("Return to the <a href='../login/'>login page</a>.")}}</p>
 </div>
 </div>
 </div>


{% endblock %}

