{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}

{% block body %}

<div class="container">

  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header text-center"><b>Signup</b></div>
      <div class="card-body">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
            {{ messages[0] }}  Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
      <form method="POST" action="/auth/signup" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>{{ render_field(form.email) }}</p>
        <p>{{ render_field(form.username) }}</p>
        <p>{{ render_field(form.password) }}</p>
        <p>{{ render_field(form.confirm) }}</p>
	<div class="form-check">
	  {{ form.accept_tos(class_="form-check-input") }}
	  <label class="form-check-label" for="legal">I agree to the <a href="{{url_for('pages.return_privacy')}}">privacy policy</a> and <a href="{{url_for('pages.return_privacy')}}">terms of service</a> of this site.</label>
        </div>
      </div><!-- card body -->
      <div class="card-footer clearfix">
        <span class="input-group-btn">
	<input id="submit_button" type="submit" class="btn btn-success" value="Sign up">
      </div><!-- card footer -->
    </form>
    </div>
    <br><p>Do you already have an account?  <a href={{url_for('auth.login')}}>Log in</a></p>
 </div>
 </div>
 </div>


{% endblock %}

