{% extends "base/base.html" %}
{% block title %}Acknowledgments{% endblock %}
{% block body %}
<div class="content-prose">
  <h2>Acknowledgements</h2>
  <p>PeARS is built by volunteers. We are grateful to the creators of the following resources:</p>
  <ul>
    <li>The PeARS logo, beautifully designed by Orion Chambadiyil.</li>
    <li>The open-source icons offered by <a href="https://ionic.io/ionicons">Ionic</a>.</li>
    {% for ack in acknowledgements %}
    <li>{{ack}}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
