{% extends "base/base.html" %}
{% block title %}Acknowledgments{% endblock %}
{% block body %}
<div class="content-prose pb-8">
  <header class="text-center mb-6">
    {% if session.get('theme') == 'dark' %}
      <img src="{{ url_for('static', filename='happy_pears_dark.png')}}" width="60" alt="">
    {% else %}
      <img src="{{ url_for('static', filename='happy_pears.png')}}" width="60" alt="">
    {% endif %}
    <h2>{{gettext('Acknowledgements')}}</h2>
    <p class="muted-text">{{gettext('PeARS is built by volunteers. We are grateful to everyone who contributes.')}}</p>
  </header>

  <p>{{gettext('We would like to thank the creators of the following resources:')}}</p>
  <ul>
    <li>The PeARS logo, beautifully designed by <strong>Orion Chambadiyil</strong>.</li>
    <li>The open-source icons offered by <a href="https://ionic.io/ionicons">Ionicons</a>.</li>
    <li>The <a href="https://oat.ink">Oat UI</a> CSS framework by Kailash Nadh.</li>
    <li>The <a href="https://github.com/adobe-fonts">Source font family</a> by Adobe.</li>
    {% for ack in acknowledgements %}
    <li>{{ack}}</li>
    {% endfor %}
  </ul>

  <p>{{gettext('PeARS receives development support from')}} <a href="https://possible-worlds.eu/">Possible Worlds Research</a>. {{gettext('Thank you to all')}} <a href="https://github.com/PeARSearch">{{gettext('contributors')}}</a> {{gettext('who help make PeARS better.')}}</p>
</div>
{% endblock %}
