/*
 * SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */


:root {
    --primary-color: orange;
    --secondary-color: green;
    --link-color: #414141;
    --hover-color: black;
 } 

a {
  color: var(--link-color);
}
a:hover {
  color: var(--hover-color);
}

.walkthrough a {
  color: black;
 }

.navbar-light {
  background-color: var(--primary-color);
}

.card {
  --bs-card-border-width: 0px;
  border-width: 0px 0px 0px 0px;
}

.card.indexer {
  --bs-card-border-width: 0px;
  border-width: 1px 1px 1px 1px;
}

.alert-success {
    --bs-alert-color: #636464;
    --bs-alert-bg: #e9ecef;
    --bs-alert-border-color: #636464;
}

.alert-info {
    --bs-alert-color: #636464;
    --bs-alert-bg: #ffffff;
    --bs-alert-border-color: #111111;
}

.navbar {
  background-color: var(--primary-color);
}

.nav-pills .nav-link.active {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-success {
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
}

.btn-outline-success {
  --bs-btn-color: var(--secondary-color);
  --bs-btn-border-color: var(--secondary-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
}

.btn-primary {
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
}

.btn-info {
  --bs-btn-bg: white;
  --bs-btn-border-color: white;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: #F8F8F8;
}

.submit-color-button {
  height: 30px;
  width: 30px;
  margin: 10px 5px 0 0;
  display: inline-block;
  border-top: 15px solid var(--theme-primary);
  border-bottom: 15px solid var(--theme-secondary);
  border-right: 0;
  border-left: 0;
  padding: 0;
  box-shadow: 0 0 3px gray;
}

.submit-color-button:hover {
  box-shadow: 2px 2px 2px gray;
}

.submit-color-button.active {
  box-shadow: 3px 3px 3px gray;
}

.results-emoji {
  margin: 0;
  color: transparent;
  text-shadow: 0 0 1px grey;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

