<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
{% block body %}
<div class="container">

  <div class="row p-3">
    <div class="card">
      <div class="card-header text-center"><b>Add a note to a URL</b></div>
      <div class="card-body">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
            {{ messages[0] }}</a>
            </div>
        {% endif %}
        {% endwith %}
	<p>You can add here a comment on this URL for the benefit of the community. Your comment will appear <i>with your username</i> under the URL in the search results.</p>
	<br>
      <form method="POST" action="/orchard/annotate" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>{{ render_field(form.url) }}</p>
        <p>{{ render_field(form.note) }}</p>
	<div class="form-check">
	  {{ form.accept_tos(class_="form-check-input") }}
	  <label class="form-check-label" for="legal">I agree for my comment to be included in the public notes for this url, together with my username.</label>
        </div>
      </div><!-- card body -->
      <div class="card-footer clearfix">
        <span class="input-group-btn">
        <input id="submit_button" type="submit" class="btn btn-success" value="Send report">
      </div><!-- card footer -->
    </form>
    </div>
 </div>

</div><!-- /.container -->
{% endblock %}
