<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>,

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
{% block title %}Add Note{% endblock %}
{% block body %}

<div class="auth-container">
  <article>
    <header class="text-center">
      <h2>{{gettext('Add a note to a URL')}}</h2>
    </header>
    <p>{{gettext('You can add here a comment on this URL for the benefit of the community. Your comment will appear <i>with your username</i> under the URL in the search results.')|safe}}</p>
    <form method="POST" action="/orchard/annotate" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <p>{{ render_field(form.url, readonly=True) }}</p>
      <p>{{ render_field(form.note) }}</p>
      <div class="tos-check">
        {{ form.accept_tos() }}
        <span>{{gettext('I agree for my comment to be included in the public notes for this url, together with my username.')}}</span>
      </div>
      <button type="submit">{{gettext('Add comment')}}</button>
    </form>
  </article>
</div>

{% endblock %}
