<!--
SPDX-FileCopyrightText: 2024 PeARS Project, <community@pearsproject.org>,

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
{% block title %}Feedback{% endblock %}
{% block body %}

{% if config['FEEDBACK_FORM'] %}
<div class="auth-container">
  <article>
    <header class="text-center">
      <h2>{{gettext('Send us feedback')}}</h2>
      {% if session.get('theme') == 'dark' %}
        <img src="{{ url_for('static', filename='sad_pears_dark.png')}}" width="40" alt="">
        <img src="{{ url_for('static', filename='happy_pears_dark.png')}}" width="40" alt="">
        <img src="{{ url_for('static', filename='happy_pears_dark.png')}}" width="40" alt="">
      {% else %}
        <img src="{{ url_for('static', filename='sad_pears.png')}}" width="40" alt="">
        <img src="{{ url_for('static', filename='happy_pears.png')}}" width="40" alt="">
        <img src="{{ url_for('static', filename='happy_pears.png')}}" width="40" alt="">
      {% endif %}
    </header>
    <p>{{gettext("This instance is undergoing alpha testing. We expect that there are still many issues to fix here. You will help us greatly by telling us what worked or didn't work for you.")}}</p>
    <form method="POST" action="/orchard/feedback" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <p>{{ render_field(form.report) }}</p>
      <label>
        {{ form.accept_tos() }}
        {{gettext('I confirm that I may be contacted in relation to my feedback and that my email address is')}} {{email}}.
      </label>
      <button type="submit">{{gettext('Send feedback')}}</button>
    </form>
  </article>
</div>
{% endif %}

{% endblock %}
