<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>,

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block title %}Category{% endblock %}
{% block body %}

<div class="content-prose">
  <article>
    <header>
      <h2>{{gettext('Theme')}}: {{query}}</h2>
    </header>
    {% if current_user.is_authenticated and current_user.is_confirmed and current_user.is_admin %}
    <p><a href="{{url_for('orchard.download_file', filename=location)}}" target="_blank" role="button">{{gettext('Download')}}</a></p>
    <hr>
    {% endif %}
    {% for url in urls %}
    <p><a href="{{url}}">{{url}}</a></p>
    {% endfor %}
  </article>
</div>

{% endblock %}
