<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
<div class="container-full">
  <br><br>
  <div class="row">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="notification is-danger">
      <b>{{ messages[0] }}</b><br>
      </div>
    {% endif %}
    {% endwith %}
    <div class="col-md-12 p-3" style="padding-left: 20px; display:flex;  flex-direction: row;  flex-wrap: wrap;  margin-bottom: 45px;">
      {% for p in pears %}
      <div class="card bg-light mb-3 themes" style="width: 18rem; margin:20px;">
	      <div class="card-header" style="border-bottom: var(--bs-card-border-width) solid var(--text-color);"><b>{{gettext("Theme:")}} {{p[0]}}</b></div>
                <div class="card-body" style="border-bottom: var(--bs-card-border-width) solid var(--text-color);">
	          <p class="card-text">{{p[1]}} {{gettext("entries")}}.</p>
		  <a href="{{url_for('orchard.get_a_pod')}}?pod={{p[0]}}" class="btn btn-success">{{gettext("View")}}</a>
		  {% if p[0] != 'Tips' %}
		  {% if current_user.is_authenticated and current_user.is_confirmed and current_user.is_admin %}
	          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapse{{p[2]}}" aria-expanded="false" aria-controls="collapse{{p[2]}}"><img src="{{ url_for('static', filename='pencil-outline.svg')}}" class='ion-icon'/></button>
		  {% endif %}
		  {% endif %}
              </div>
            <div class="card card-body">
	      <div class="collapse" id="collapse{{p[2]}}">
		      <form  action="{{url_for('orchard.rename_pod')}}" id='renameform'>
                  <div class="input-group group mt-4" >
		  <input type="hidden" value="{{p[0]}}" name="oldname" />
	          <input class="form-control" title="Rename theme" placeholder="{{gettext('Rename theme')}}"  type="search" name='newname' required>
         	  <button class="btn btn-lg btn-success" type="submit" id='searchbutton'>{{gettext('Rename')}}</button>
                  </div>
                </form>
              </div>
            </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}


