<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}

    <div class="container">
    <div class="card">
      <div class="card-header text-center"><h1>Database admin page</h1></div>
      <div class="card-body">
	      <p>{{gettext('This page allows you to manually administer your users, pods and indexed URLs. If you ever need to e.g. delete a single URL from your indexed pages, or modify a keyword, this is the place to do so. You can also view and search the entire list of available pods, as registered by your pear.')}}</p>
		  <a href="{{url_for('urls.index_view')}}" class="btn btn-success btn-block">{{gettext('URLs')}}</a>
		  <a href="{{url_for('pods.index_view')}}" class="btn btn-success btn-block">{{gettext('Pods')}}</a>
		  <a href="{{url_for('user.index_view')}}" class="btn btn-success btn-block">{{gettext('Users')}}</a>
		  <a href="{{url_for('suggestions.index_view')}}" class="btn btn-success btn-block">{{gettext('Suggestions')}}</a>
		  <a href="{{url_for('personalization.index_view')}}" class="btn btn-success btn-block">{{gettext('Personalization')}}</a>
      <a href="{{url_for('accesslogs.index_view')}}" class="btn btn-success btn-block">{{gettext('Access Logs')}}</a>

      <div class="mt-3 alert alert-info">
        <h2>Daily access summary</h2>
        <div class="alert alert-warning">
          All numbers shown are for today ({{access_stats.date}}). 
          Numbers shown between parentheses show the change of today's numbers for each statistic
          compared to yesterday.
          For more details, check out the Access Logs.
        </div>
        <div>
          <ul>
            <li><b>{{gettext('Total number of requests:')}}</b> {{access_stats.total_requests}} ({{access_stats.total_requests_diff}})</li>
            <ul>
              <li><i>{{gettext('Of which successful:')}}</i> {{access_stats.successful_requests}} ({{access_stats.successful_requests_diff}})</li>
              <li><i>{{gettext('Of which failed:')}}</i> {{access_stats.failed_requests}} ({{access_stats.failed_requests_diff}})</li>
            </ul>
            <li><b>{{gettext('Total number of log-in attempts:')}}</b> {{access_stats.total_logins}} ({{access_stats.total_logins_diff}})</li>
            <ul>
              <li><i>{{gettext('Of which successful:')}}</i> {{access_stats.successful_logins}} ({{access_stats.successful_logins_diff}})</li>
              <li><i>{{gettext('Of which failed:')}}</i> {{access_stats.failed_logins}} ({{access_stats.failed_logins_diff}})</li>
            </ul>
            <li><b>{{gettext('Unique users:')}}</b> {{access_stats.unique_users}} ({{access_stats.unique_users_diff}})</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock %}

