{% macro render_field(field) %}
<div class="form-group">
        {{ field.label }}
        {{ field(class_="form-control input-s", size=32) }}
</div>
<dd>{% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
    <li><b>{{ error }}</b></li>
    {% endfor %}
    </ul>
  {% endif %}
</dd>
{% endmacro %}

{% macro render_password_field(field) %}
<div class="form-group">
	{{ field.label }} <a class="small" href={{url_for('auth.password_forgotten')}}>{{gettext('Password forgotten?')}}</a> 
        {{ field(class_="form-control input-s", size=32) }}
</div>
<dd>{% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
    <li><b>{{ error }}</b></li>
    {% endfor %}
    </ul>
  {% endif %}
</dd>
{% endmacro %}
