<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>,

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
<div class="text-center mt-8">
  {% if own_brand %}
    {% if session.get('theme') == 'dark' %}
      <a href="{{ url_for('search.index')}}"><img width="350" src="{{url_for('serve_logos', path='logo-dark.png')}}" alt="PeARS"></a>
    {% else %}
      <a href="{{ url_for('search.index')}}"><img width="350" src="{{url_for('serve_logos', path='logo.png')}}" alt="PeARS"></a>
    {% endif %}
  {% else %}
    {% if session.get('theme') == 'dark' %}
      <a href="{{ url_for('search.index')}}"><img width="350" src="{{ url_for('static', filename='pears-logo-dark.png')}}" alt="PeARS"></a>
    {% else %}
      <a href="{{ url_for('search.index')}}"><img width="350" src="{{ url_for('static', filename='pears-logo.png')}}" alt="PeARS"></a>
    {% endif %}
  {% endif %}

  {% if internal_message %}
  <div role="alert" data-variant="info" class="max-w-hero mt-4">
    {{internal_message}}
  </div>
  {% endif %}
</div>
{% endblock %}
