<!--
SPDX-FileCopyrightText: 2025 PeARS Project, <community@pearsproject.org>,

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block title %}{{gettext('Service Unavailable')}}{% endblock %}
{% block body %}
<div class="auth-container text-center">
  <img src="{{ url_for('static', filename='images/sad.svg')}}" width="100" alt="" class="mascot">
  <h2>{{gettext('Under Maintenance')}}</h2>
  <p class="muted-text">{{gettext("We're performing some maintenance on this instance. Please check back shortly.")}}</p>
</div>
{% endblock %}
