<!--
SPDX-FileCopyrightText: 2024 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field, render_autocomplete_field, render_captcha_field %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-10 mb-5">
      <div class="form-check form-switch" id="hide-already-indexed-suggestions-switch">
        {% if hide_already_indexed_urls %}
          <input class="form-check-input" type="checkbox" onclick="toggleIndexedSuggestions()" checked>
        {% else %}
          <input class="form-check-input" type="checkbox" onclick="toggleIndexedSuggestions()">
        {% endif %}
        <label class="form-check-label" for="hide-already-indexed-suggestions-switch">{{gettext("Hide already indexed suggestions?")}}</label>
        <script>
          function toggleIndexedSuggestions() {
            let $switch = $("#hide-already-indexed-suggestions-switch :checkbox");
            let newValue = $switch.is(":checked") ? "y" : "n"; 
            console.log(`redirecting to: /indexer/index_suggestions?hide_already_indexed=" + ${newValue}`);
            window.location.replace("/indexer/index_suggestions?hide_already_indexed=" + newValue);
          }
        </script>
      </div>

      {% if not suggestions %}
        <div class="alert alert-warning mb-3">
          {{gettext("Suggestions that still need to be indexed (or rejected) will appear here.")}}
        </div>
      {% endif %}
      {% for suggestion in suggestions %}
      <form class="card mt-4" onsubmit="return false;">
        <div class="card-header border-secondary bg-secondary">
          <button class="btn btn-primary">
            <span title="Total number of times that this url was suggested"
              class="badge text-bg-secondary">{{suggestion.total_count}}x</span>
          </button>
          {% for pod, pod_count in suggestion.suggestions_by_pod.items() %}
          <span class="btn btn-sm btn-dark">
            {{pod_count}}x in <b>{{pod}}</b>
          </span>
          {% endfor %}
        </div>
        <div class="card-body border-dark bg-dark">
          {% for existing_pod in suggestion.already_indexed_in %}
          <div class="alert alert-warning mb-1">
            <small>
              {{gettext("This URL is already indexed under: ")}} {{existing_pod}}.
            </small>
          </div>
          {% endfor %}

          <p><span class="badge text-bg-secondary">url</span> <a class="text-light"
              href="{{suggestion.url}}">{{suggestion.url}}</a></p>
          <p>
            <span class="badge text-bg-secondary">first</span> <span
              class="text-light">{{suggestion.first_created.year}}-{{suggestion.first_created.month}}-{{suggestion.first_created.day}}</span>
            <span class="badge text-bg-secondary">last</span> <span
              class="text-light">{{suggestion.last_created.year}}-{{suggestion.last_created.month}}-{{suggestion.last_created.day}}</span>
          </p>
          <div class="accordion mb-3" id="notes-accordion-{{loop.index}}">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#notes-collapse-{{loop.index}}">
                <strong>Notes:</strong>&nbsp;<small><em>(click to expand)</em></small>
                &nbsp;<span class="badge text-dark">{{suggestion.notes_preview}}</span>
              </button>
            </h2>
            <div id="notes-collapse-{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="notes-accordion-{{loop.index}}">
              <div class="accordion-body">
                <div class="form-group">
                  <div class="mb-3">
                    <label for="notes-{{loop.index}}" class="form-label">
                      <small>By default, this shows the concatenated notes of all the users that suggested this URL. Please remove/edit as desired before indexing.</small>
                    </label>
                    <textarea class="form-control" id="notes-{{loop.index}}" rows="3">{{suggestion.notes}}</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="form-group form-inline">
            <div class="input-group mb-3">
              <select id="suggestion-pod-{{loop.index}}" class="form-control form-select">
                {% for pod, _ in suggestion.suggestions_by_pod.items() %}
                <option value="{{pod}}">Suggested pod: {{pod}}</option>
                {% endfor %}
              </select>
              <button class="btn btn-success index-suggestion" id="suggestion-{{loop.index}}"
                onclick="indexSuggestion({{loop.index}}, '{{suggestion.url}}', false)">Index with suggested pod</button>
            </div>
            <div class="input-group mb-3">
              <input class="form-control" id="suggestion-custom-pod-{{loop.index}}"
                placeholder="... or specify a custom pod">
              <button class="btn btn-success" id="suggestion-custom-pod-btn-{{loop.index}}"
              onclick="indexSuggestion({{loop.index}}, '{{suggestion.url}}', true)">Index with custom pod</button>
            </div>
            <div class="input-group mb-3">
              <input class="form-control bg-danger text-white" id="reject-reason-{{loop.index}}"
                placeholder="Optionally, add a note about why this entry should be rejected">
              <button class="btn btn-danger border border-light" id="suggestion-rej-{{loop.index}}"
              onclick="deleteSuggestion({{loop.index}}, '{{suggestion.url}}')">Reject</button>
            </div>
          </div>
        </div>
      </form>
      {% endfor %}
      <script>
        function indexSuggestion(suggestionID, url, customPod) {
          let $button = $(`#suggestion-${suggestionID}`);
          let $customThemeInput = $(`#suggestion-custom-pod-${suggestionID}`);
          let $deleteReasonField = $(`#reject-reason-${suggestionID}`);
          let theme = $(`#suggestion-pod-${suggestionID}`).val();          
          if (customPod) {
            $button = $(`#suggestion-custom-pod-btn-${suggestionID}`);
            theme = $customThemeInput.val();
          }
          let $notesField = $(`#notes-${suggestionID}`);
          let notes = $notesField.val();
          $button.prop("disabled", true);
          $button.text("Indexing...")
          $.ajax({
            url: "/indexer/index_from_suggestion_ajax",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
              url: url,
              theme: theme,
              notes: notes,
              customTheme: customPod ? 'y' : 'n'
            })
          }).done((respData) => {
            console.log(respData);
            if (respData.success) {
              $button.text(`Indexing succesful`);
              $("form").each(function() {this.reset();});
              location.reload();
            } else {
              $button
                .prop("disabled", false)
                .text(`Indexing unsuccessful, click to try again`)
                .parent()
                .after(
                  $(`<div class="alert alert-danger mt-1">`)
                    .text(respData.messages.join("<br>"))
                );
            }
          });
        };

        function deleteSuggestion(suggestionID, url) {
          let $button = $(`#suggestion-rej-${suggestionID}`);
          $button.prop("disabled", true);
          $button.text("Processing...");
          let $deleteReasonField = $(`#reject-reason-${suggestionID}`);
          let reason = $deleteReasonField.val();
          $.ajax({
            url: "/indexer/reject_suggestion_ajax",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
              url: url,
              reason: reason
            })
          }).done((respData) => {
            console.log(respData);
            if (respData.success) {
              $button.text(`Rejection succesful`);
              $("form").each(function() {this.reset();});
              location.reload();
            } else {
              $button
                .prop("disabled", false)
                .text(`Rejection unsuccessful, click to try again`)
                .parent()
                .after(
                  $(`<div class="alert alert-danger mt-1">`)
                    .text(respData.messages.join("<br>"))
                );
            }
          });
        };
      </script>
    </div>
  </div>

</div><!-- /.container -->

{% endblock %}