<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-success text-center">
	      <b>{{num_entries}} {{gettext("pages recorded")}}</b>
      </div>
    </div>
  </div>
  
  <div class="row p-3">
    <div class="card-group">
      <div class="card indexer">
        <div class="card-header text-center"><b>{{gettext("Index a single URL")}}</b></div>
        <div class="card-body">
        {% with messages = get_flashed_messages(category_filter=["url"]) %}
        {% if messages %}
            <div class="notification is-danger">
            {{ messages[0] }}</a>
            </div>
        {% endif %}
        {% endwith %}
	<form method="POST" accept-charset="UTF-8" action="{{url_for('indexer.index_from_url')}}" enctype="multipart/form-data">
        {{ form1.hidden_tag() }}
        <p>{{ render_field(form1.url) }}</p>
        <p>{{ render_field(form1.theme) }}</p>
        <p>{{ render_field(form1.trigger_warning) }}</p>
        <div class="form-check">
          {{ form1.accept_tos(class_="form-check-input") }}
          <label class="form-check-label" for="legal">{{gettext("I confirm that my entry does not contravene the <a href='../terms-of-service'>terms of service</a> of this site.")}}</label>
        </div>
      </div><!-- card body -->
      <div class="card-footer clearfix">
        <span class="input-group-btn">
                <input id="submit_button" type="submit" class="btn btn-success" value="{{gettext('Add')}}">
      </div><!-- card footer -->
    </form>
    </div>
   </div>
  </div>

  <div class="row p-3">
    <div class="card indexer">
	    <div class="card-header text-center"><b>{{gettext("Add an offline resource")}}</b></div>
      <div class="card-body">
        {% with messages = get_flashed_messages(category_filter=["offline"]) %}
        {% if messages %}
            <div class="notification is-danger">
            {{ messages[0] }}</a>
            </div>
        {% endif %}
        {% endwith %}
	<form method="POST" action="{{url_for('indexer.index_from_manual')}}" enctype="multipart/form-data">
        {{ form2.hidden_tag() }}
        <p>{{ render_field(form2.title) }}</p>
        <p>{{ render_field(form2.description) }}</p>
	<div class="form-check">
	  {{ form2.accept_tos(class_="form-check-input") }}
	  <label class="form-check-label" for="legal">{{gettext("I confirm that my entry does not contravene the <a href='../terms-of-service'>terms of service</a> of this site.")}}</label>
        </div>
      </div><!-- card body -->
      <div class="card-footer clearfix">
        <span class="input-group-btn">
		<input id="submit_button" type="submit" class="btn btn-success" value="{{gettext('Add')}}">
      </div><!-- card footer -->
    </form>
    </div>
 </div>
</div><!-- /.container -->
<script src="{{ url_for('static', filename='js/loading.js')}}"></script>

{% endblock %}
