<!--
SPDX-FileCopyrightText: 2024 PeARS Project, <community@pearsproject.org>,

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field, render_autocomplete_field, render_captcha_field %}
{% block body %}

<div class="auth-container--wide">
  <article>
    <header class="text-center">
      <h2>{{gettext("Suggest a URL to index")}}</h2>
    </header>
    <form method="POST" accept-charset="UTF-8" action="{{url_for('indexer.run_suggest_url')}}" enctype="multipart/form-data" autocomplete="off">
      <datalist id="themes"></datalist>
      {{ form.hidden_tag() }}
      <p>Thank you for suggesting a resource to this PeARS instance! PeARS is a curated search engine. An admin will review your entry asap.</p>
      {% if internal_message %}
      <p><strong>NB: </strong>{{ internal_message }}</p>
      {% endif %}
      <p>{{ render_field(form.suggested_url) }}</p>
      <p>{{ render_autocomplete_field(form.theme) }}</p>
      <p>{{ render_field(form.note) }}</p>
      <p>{{ render_captcha_field(form.captcha_answer, form.captcha_id.data) }}</p>
      <button type="submit">{{gettext('Suggest')}}</button>
    </form>
  </article>
</div>

<script>
  let themes = {{themes|tojson}};
  let str = '';
  for (theme of themes) {
    str += '<option value="' + theme + '" />';
  }
  document.getElementById("themes").innerHTML = str;
</script>
{% endblock %}
