<!--
	SPDX-FileCopyrightText: 2024 PeARS Project, <community@pearsproject.org>, 

	SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
{% from "base/_formhelpers.html" import render_autocomplete_field %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="alert alert-success text-center">
				<b>{{num_entries}} {{gettext("pages recorded")}}</b>
			</div>
		</div>
	</div>

	<div class="card indexer">
		<div class="card-header text-center"><b>{{gettext("Write new content")}}</b></div>
		<div class="card-body">
			{% with messages = get_flashed_messages(category_filter=["offline"]) %}
			{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}</a>
			</div>
			{% endif %}
			{% endwith %}
			<form method="POST" action="{{url_for('indexer.index_from_new_content')}}" enctype="multipart/form-data">
				<datalist id="themes"></datalist>
				{{ form.hidden_tag() }}
				<p>{{ render_field(form.title) }}</p>
				<p>{{ render_autocomplete_field(form.theme) }}</p>
				<p>{{ render_field(form.content) }}</p>
				<div class="form-check">
					{{ form.accept_tos(class_="form-check-input") }}
					<label class="form-check-label" for="legal">{{gettext("I confirm that my entry does not contravene the <a href='../terms-of-service'>terms of service</a> of this site.")}}</label>
				</div>
		</div><!-- card body -->
		<div class="card-footer clearfix">
			<span class="input-group-btn">
				<input id="submit_button" type="submit" class="btn btn-success" value="{{gettext('Add')}}">
		</div><!-- card footer -->
			</form>
	</div>
</div><!-- /.container -->

{% endblock %}
